/* Import Robot Medium 500 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

.titulo-principal {
    color: #0c63ed;
    font-family: 'Roboto', sans-serif;
}

div {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pzGpR7c7KCIoRV_7shCv2AHaE6%26pid%3DApi&f=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}
