* {
margin: 0;
padding: 0;
}

body {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: 
  'header header'
  'aside main'
  'footer footer';
}

body header {
  background-color: #345b63;
  grid-area: header;
  position: sticky;
  top: 0px;
}

body header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px
}
header div img {
  height: 100px;
  width: 100px;
}

body aside {
  background-color: #152d35;
  grid-area: aside;
}


body aside a {
  text-decoration: none;
  padding: 10px;
  color: #f7f5f5;
}

aside a:hover {
  color: #b7c2d8;
}

aside a li {
  list-style: none;
}

body main {
  background-color: #ddf0e4;
  grid-area: main;
  min-height: 90vh;
}

aside li {
  text-decoration: none;
}

#banner {
  height: 300px;
  width: 0.7fr;
}

body footer {
  background-color: #000f06;
  grid-area: footer;
  position: sticky;
  bottom: 0;
  height: 10vh;
}
