@import url('https://fonts.googleapis.com/css2?family=Allison&family=Calligraffitti&family=JetBrains+Mono:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-image: url("img/background-RioDeJaneiro.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 90%;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
}

header h1 {
    font-family: 'Allison', cursive;
    font-size: 64px;
    color: whitesmoke;
}

footer {
    background-color: black;
    position: absolute;
    top: 90%;
    left:0;
    width: 100%;
}

.footer-esquerda {
    text-align: left;
    padding: 25px 40px 5px 40px;
    display: inline-block;
}

.footer-esquerda p {
    color: #8f9296;
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

.footer-direita {
    float: right;
    margin-top: 6px;
    max-width: 50%;
}

.footer-sobre {
    display: inline-grid;
    font-size: 12px;
    color: #8f9296;
}

.footer-sobre img {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 5px;
    grid-column: 1;
    border-right: 2px;
    border-right-color: white;
    border-right-style: solid;

}
.sobre-conteudo {
    padding: 5px;
    margin: 15px;
    grid-column: 2;
}

.box-main {
    width: 350px;
    height: 250px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.bem-vindo {
    background: #f5f1f15c;
    border-radius: 1em;
    padding: 1em;
    color: black;
    }

.bem-vindo h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 50px;
}

.bem-vindo p {
    margin-top: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
}
.box-mensagem {
    top: 720px;
    position: absolute;

}
